<h1>Page Two</h1>

<div id="version" data-controller="version"></div>
<div id="admin--version" data-controller="admin--version"></div>

<p>
  <%= link_to "Go to One with Turbo", root_path, data: { turbo: true } %>
  <%= link_to "Go to One without Turbo", root_path, data: { turbo: false } %>
</p>
